.wishlist-container {
  background: #fff;
  height: 90vh;
}

.wishlist-container header {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.wishlist-container .input {
  display: flex;
  justify-content: center;
}
